*.tif filter=lfs diff=lfs merge=lfs -text
input/MigConn/AMRE/amered_abundance_seasonal_nonbreeding_mean_2023.tif filter=lfs diff=lfs merge=lfs -text
input/MigConn/AMRE/AMRE.genoscape_brick.tif filter=lfs diff=lfs merge=lfs -text
input/MigConn/SWTH/swathr_abundance_seasonal_nonbreeding_mean_2023.tif filter=lfs diff=lfs merge=lfs -text
input/MigConn/SWTH/SWTH.3x.genoscape_brick.WGS84.tif filter=lfs diff=lfs merge=lfs -text
